/* You can add global styles to this file, and also import other style files */
*{
    font-family: Arial, Helvetica, sans-serif;
}

html {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: #D5FCF7;
}